<ion-header>
  <ion-toolbar>
    <ion-title>Zeskanowane dowody rejestracyjne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header *ngIf="certificates.count() == 0">Brak...</ion-list-header>
  <ion-list>
    <ion-item-sliding *ngFor="let item of certificates.list()" (ionDrag)="drag(item, $event)" (click)="details(item)">
      <ion-item class="item-interactive">
        <ion-label>{{certificates.label(item)}}</ion-label>
        <ion-icon *ngIf="isDragged(item)" name="arrow-dropright"></ion-icon>
        <ion-icon *ngIf="!isDragged(item)" name="arrow-dropleft"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="certificates.delete(item.seriaDr.value)"><ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="error">
    <ion-card color="danger">
      <ion-card-header>Nie można zdekodować kodu</ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Błąd:</ion-label>
          <ion-text>{{error.message}}</ion-text>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="error.text">
        <ion-item>
          <ion-label position="stacked">Udało się jedynie zeskanować poniższy tekst:</ion-label>
          <ion-textarea rows="20" type="text" [ngModel]="error.text" readonly></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="scan()" color="secondary">Skanuj</ion-button>
  </ion-toolbar>
</ion-footer>