<ion-content>
  <ion-row *ngIf="!data && !error">
    <ion-col size="12">
      <ion-text>
        <p>Dekoder Dowodu Rejestracyjnego v{{version}}</p>
        <p>&copy; 2018 Piotr Roszatycki &lt;<a href="mailto:piotr.roszatycki@gmail.com">piotr.roszatycki@gmail.com</a>&gt;</p>
        <p>Licencja: <a href="LICENSE.txt">GPL-2.0</a> i <a href="3rdpartylicenses.txt">więcej</a></p>
        <p>Kody źródłowe: <a href="https://github.com/dex4er/dekoder-dowodu-rejestracyjnego">https://github.com/dex4er/dekoder-dowodu-rejestracynego</a></p>
      </ion-text>
    </ion-col>
  </ion-row>

  <div *ngIf="data">
    <ion-list>
      <div *ngFor="let key of data | keys">
        <ion-item text-wrap>
          <ion-label position="stacked">{{data[key].name}}<br/>{{data[key].description}}</ion-label>
          <div *ngIf="isArray(data[key].value);then inputArray else inputString"></div>
          <ng-template #inputArray><ion-input type="text" *ngFor="let line of data[key].value" value="{{line}}" readonly></ion-input></ng-template>
          <ng-template #inputString><ion-input type="text" value="{{data[key].value}}" readonly></ion-input></ng-template>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <div *ngIf="error">
    <ion-card color="danger">
      <ion-card-header>Nie można zdekodować kodu</ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Błąd:</ion-label>
          <ion-text>{{error.message}}</ion-text>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="error.text">
        <ion-item>
          <ion-label position="stacked">Udało się jedynie zeskanować poniższy tekst:</ion-label>
          <ion-textarea rows="20" type="text" [ngModel]="error.text" readonly></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="scan()" color="secondary">Skanuj</ion-button>
  </ion-toolbar>
</ion-footer>